:root {
    --color-brand-light: #819b57;
    --color-brand-dark: #465929;
    --color-primary-dark: #31261A;
    --color-primary-light: #FAF4EA;
}

/* Base */

body {
    color: var(--color-primary-dark);
    font-family: 'Poppins', sans-serif;
}

ul {
    list-style-type: none;
}

/* Buttons */

.button {
    color: var(--color-primary-light);
    background-color: var(--color-brand-light);
    border: 2px solid var(--color-brand-light);
    border-radius: 8px;
    cursor: pointer;
}

.button:hover {
    background-color: transparent;
    color: var(--color-brand-dark);

}

/* Links */

.link {
    color: var(--color-primary-light);
}

.link:hover {
    color: var(--color-brand-light);
}

/* Hero section */

.hero-title {
    color: var(--color-primary-light);

}

.hero-title .accent {
    color: var(--color-brand-light);
}

/* Adventages section */

.advantages-list {
    background-color: var(--color-brand-light);
    color: var(--color-primary-light);
}

.section-title .accent {
    color: var(--color-brand-dark);
}


/* module 6 time 56:00 */